In [1]:
import pandas as pd

In [3]:
!pwd

/Users/jatobrun/Proyectos/SenalesEEG/src

In [4]:
df= pd.read_csv('../DatosBrutos/Frecuencia/PB1.csv')

In [5]:
senales = df[df.columns[9:11]]
etiqueta = df[df.columns[21:22]]
datos = pd.concat([senales, etiqueta], axis=1)
datos

            EEG.O1       EEG.O2  MarkerValueInt
0      4157.051270  4172.179688             NaN
1      4160.512695  4169.871582             NaN
2      4171.538574  4182.820313             NaN
3      4167.051270  4177.563965             NaN
4      4159.358887  4166.666504             NaN
...            ...          ...             ...
89716  4177.692383  4157.179688             NaN
89717  4184.615234  4168.077148             NaN
89718  4175.897461  4168.589844             NaN
89719  4167.436035  4174.102539             NaN
89720  4171.282227  4183.077148             NaN

[89721 rows x 3 columns]

In [6]:
c = 6
for e in range(len(datos.index)):
    if str(datos['MarkerValueInt'][e]) == 'nan':
        datos['MarkerValueInt'][e] = c
    else:
        c = datos['MarkerValueInt'][e]

In [7]:
datos_nuevos = datos[datos['MarkerValueInt'] != 6]
datos_nuevos

            EEG.O1       EEG.O2  MarkerValueInt
15     4172.307617  4186.538574             5.0
16     4172.179688  4188.333496             5.0
17     4171.410156  4178.974121             5.0
18     4181.153809  4181.282227             5.0
19     4184.615234  4185.769043             5.0
...            ...          ...             ...
88679  4171.282227  4172.436035             3.0
88680  4161.922852  4175.000000             3.0
88681  4159.743652  4177.692383             3.0
88682  4167.436035  4175.384766             3.0
88683  4171.025879  4169.615234             3.0

[88641 rows x 3 columns]

In [8]:
rojo = datos_nuevos[datos_nuevos['MarkerValueInt'] == 1]
azul = datos_nuevos[datos_nuevos['MarkerValueInt'] == 2]
verde = datos_nuevos[datos_nuevos['MarkerValueInt'] == 3]
morado = datos_nuevos[datos_nuevos['MarkerValueInt'] == 4]
baseline = datos_nuevos[datos_nuevos['MarkerValueInt'] == 5]

In [15]:
datos_nuevos.iloc[:300, :]

          EEG.O1       EEG.O2  MarkerValueInt
15   4172.307617  4186.538574             5.0
16   4172.179688  4188.333496             5.0
17   4171.410156  4178.974121             5.0
18   4181.153809  4181.282227             5.0
19   4184.615234  4185.769043             5.0
..           ...          ...             ...
310  4171.666504  4166.666504             1.0
311  4173.461426  4168.205078             1.0
312  4173.974121  4169.487305             1.0
313  4170.897461  4161.153809             1.0
314  4170.128418  4158.077148             1.0

[300 rows x 3 columns]

In [36]:
datos_nuevos.to_csv('../DatosProcesados/datos.csv')
df = pd.read_csv('../DatosProcesados/datos.csv')

In [37]:
df = df[df.columns[1:4]]

In [42]:
etiquetas = ['Rojo', 'Azul', 'Verde', 'Morado', 'Baseline']
contadores = [0, 0, 0, 0, 0]
c = 5
inicio = 0
num_archivos = 0
for e in range(len(df.index)):
    if int(df['MarkerValueInt'][e]) != c:
        archivo = df.iloc[inicio:e-1, :]
        archivo.to_csv(f'../DatosProcesados/{etiquetas[c - 1]}/ejemplo{contadores[c -1]}.csv')
        contadores[c-1] += 1
        inicio = e
        c = int(df['MarkerValueInt'][e]) 
        num_archivos +=1
print(num_archivos)
!rm ../DatosProcesados/datos.csv

199

In [41]:
!rm ../DatosProcesados/Baseline/ejemplo0